<nav class="navbar navbar-expand-lg  bg-light"
    style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Logo</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/admin/productDetails" style="font-weight: bold;">back</a>
            </li>



        </ul>

        <button class="btn btn-outline-success btn-lg  ms-auto" type="submit">Login</button>
    </div>
</nav>


<div class="container">
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: 84px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center" style="padding-left: 25%;">
        <div class="col-lg-8">
             <h2 class="fw-bold mb-5">Add products</h2>
    
        <form action="/admin/addProduct" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationDefault01">product Name</label>
                    <input type="text" class="form-control" id="validationDefault01" name="productName" placeholder="product name"
                       style="width: 160%;border-color: black;" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">catogery</label>

                    <div class="dropdown">
                   <select class="btn btn-white dropdown-toggle"  name="productCatogary" id="" style="
                                width: 290px; border-color: black;">
                    <option class="dropdown-menu dropdown-menu-white" value=""  style="width: 160%;">select catogary</option>
                    {{#each data}}
                    <option value="{{this.catogary}}">{{this.catogary}}</option>
                     {{/each}}
                   </select>
                   </div>



                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">discription</label>
                    
                        <textarea class="form-control"  placeholder="add description" name="productDiscription" aria-label="With textarea" style="width: 160%;border-color: black;"></textarea>
                </div>
               
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault03">₹ price</label>
                    <input type="number" class="form-control" id="validationDefault03" name="productPrize" style="width: 107%;border-color: black;" placeholder="price" value="₹" required>
                </div>
               
                <div class="col-md-3 mb-3">
                    <label for="validationDefault05">upload image 1 </label>
                    <input type="file" class="form-control" id="validationDefault05"  name="image1" style="width: 216%;border-color: black;" placeholder="image" required>
                </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault05">upload image 2</label>
                    <input type="file" class="form-control" id="validationDefault05" name="image2" style="width: 216%;border-color: black;" placeholder="image" multiple required>
                </div>
            </div>
            
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
        </div>
        </div>
        </div>
        </div>

</div>