<nav class="navbar navbar-expand-lg  bg-light" style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Logo</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
        <li class="nav-item active ">
        <a class="nav-link " href="/admin/Home" style="font-weight: bold;">Dash bord</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/productDetails">Product details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orderDetails">Order details</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/admin/userDetails">User Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/catogaryManage">catogary Manage</a>
      </li>
    </ul>

    <button class="btn btn-outline-success btn-lg  ms-auto" type="submit">Login</button>
  </div>
</nav>