<section class="vh-100 gradient-custom"
  style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white text-dark" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h2 class="fw-bold mb-2 text-uppercase">Admin Login</h2>



            <form action="/admin/Home" method="post" name="form">

              <div class="form-outline form-white mb-4">
                <input type="text" id="typeEmailX" name="name" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Name</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" name="password" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <button class="btn btn-outline-success btn-lg px-5" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>