<body style="background-color: #F5F5F5;">
  <div class="hero_area" style="height: 85px;min-height: 85px;">
    <div class="bg-box" style="height: 85px;">
      <img src="/stylesheets/logintemp/images/hero-bg.jpg" alt="" style="height: 85px;">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              KK foods
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">

                {{!-- search --}}


              </li>
            </ul>



          </div>
      </div>
      </nav>
  </div>
  </header>


  <body>
    <section class="h-100 gradient-custom">
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">

            <div class="card text-white" style="border-radius: 1rem;
                     background-color: #F5F5F5;
                     height: 362px;
                     width: 500px;
                     padding-top: 0px;
                     flex-direction: row;
                     margin-top: 85px;">

              <div class="card-body p-5 text-center">

                <div class="mb-md-5 mt-md-4 pb-5">
                  {{!-- mailform --}}
                  <form style="margin-top: -35px" name="mailForm" onsubmit="return mailsubmit()">
                    <h2 class="fw-bold mb-  text-black">Enter Your Registered EmailId</h2>
                    <hr style="background-color: black;">
                    <p style="text-align: center; height: 30px; color: rgb(173, 14, 14);" id="errmsg"></p>
                    <div class="form-outline form-white font-color mb-2">
                      <input class="form-control form-control-lg" type="email" name="email"
                        placeholder="Enter your Email" required /><br />
                    </div>
                    <button class="btn btn-warning btn-lg px-5" type="submit">submit</button><br /><br />
                  </form>
                  {{!-- mailform end --}}
                  {{!-- otp form --}}
                  <form style="margin-top: -35px;display: none;" name="otpForm" onsubmit="return otpEnter()">
                    <h2 class="fw-bold mb-  text-black"> We've sent an OTP to the email</h2>
                    <hr style="background-color: black;">
                    <p style="text-align: center; height: 30px; color: rgb(173, 14, 14);" id="otperrmsg"></p>
                    <div class="form-outline form-white font-color mb-2">
                      <input class="form-control form-control-lg" type="number" name="otp"
                        placeholder="Enter your OTP here" required /><br />
                      <p style="color: black;" id="countdown"></p>
                      <a href="" id="unhide" onclick="return resendOtp()"> Re Send otp</a>
                    </div>
                    <button class="btn btn-warning btn-lg px-5" type="submit">submit</button><br /><br />
                  </form>
                  {{!-- otp end --}}
                  {{!-- newpassword --}}
                  <form style="margin-top: -35px;display: none;" name="passForm" onsubmit="return passEnter()">
                    <h2 class="fw-bold mb-  text-black">Change your Password</h2>
                    <hr style="background-color: black;">

                    <div class="form-outline form-white font-color mb-2">
                      <input class="form-control form-control-lg" type="password" name="pass1"
                        placeholder="Enter your New Password" required /><br />
                      <p style="text-align: center; height: 30px; color: rgb(173, 14, 14);" id="pass1txt"></p>
                      <input class="form-control form-control-lg" type="password" name="pass2"
                        placeholder="Confirm Password" required /><br />
                      <p style="text-align: center; height: 30px; color: rgb(173, 14, 14);" id="pass2txt"></p>

                    </div>
                    <button class="btn btn-warning btn-lg px-5" type="submit">submit</button><br /><br />
                  </form>
                  {{!-- newpassword --}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

    <script src="/javascripts/userForgotPassword.js">

    </script>